
.rowRight {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px
}
.avatar {
  position: absolute;
}
.textCard {
  color: white !important;
}
.textCard:hover {
  color: black !important;
}
.blockquote {
  font-weight: bold;
  height: 10vw;
  font-size: 30px !important
}
.cardModal{ 
  display: flex;
  align-items: center;
  flex-direction: row;
}