

.backCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  overflow: auto;
  height: 93vh;
  justify-content: center;
}

.App {
  background-color: #282c34;
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.textLive {
  font-size: 100px;
  color: orange;
  position: relative;
  font-family: 'Raleway', sans-serif;
}