

.backCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  overflow: auto;
  height: 93.5vh;
  justify-content: center;
}

.App {
  background-color: #282c34;
  height: 100vh;
}